<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798706590345-fe40iqh4rqv6tt3urm4cdtc9b477pclc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798706590345-fe40iqh4rqv6tt3urm4cdtc9b477pclc</string>
	<key>API_KEY</key>
	<string>AIzaSyCRRO5dRHfF6khJEqNHkY9PqJD_g2OQ2U8</string>
	<key>GCM_SENDER_ID</key>
	<string>798706590345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mariia.PiaEnglish</string>
	<key>PROJECT_ID</key>
	<string>piaenglish-915c2</string>
	<key>STORAGE_BUCKET</key>
	<string>piaenglish-915c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798706590345:ios:45209a6a76b89d8e761c58</string>
	<key>DATABASE_URL</key>
	<string>https://piaenglish-915c2.firebaseio.com</string>
</dict>
</plist>